<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PKI.Puncher.CameraTestBench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PKI.Puncher.CameraTestBench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PKI.Puncher.CameraTestBench.Properties.Settings>
      <setting name="Logfile" serializeAs="String">
        <value>.\Test.txt</value>
      </setting>
    </PKI.Puncher.CameraTestBench.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="LogFile" value="c:\SpotLight\Logs\SpotLightLog.txt" />
    <add key="LoggerAlsoLogToDebug" value="true" />
    <add key="LanguagePath" value="C:\SpotLight\Data\Languages" />
    <add key="LanguageManagerIsSingleton" value="true" />
    <add key="PersistentFile" value="C:\SpotLight\Data\Configuration\Persistence.xml" />
    <add key="ConfigFile" value="C:\SpotLight\Data\Configuration\Config.xml" />
    <add key="ConfigVersionsDir" value="C:\SpotLight\Data\Configuration\History" />
    <add key="ConsistorFile" value="C:\SpotLight\Data\Configuration\Consts.xml" />
    <add key="DataDirectory" value="C:\SpotLight\Data\" />
    <add key="InstrumentName" value="SpotLight" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <PKI.Puncher.CameraTestBench.Properties.Settings>
      <setting name="LanguagePath" serializeAs="String">
        <value>C:\SpotLight\Data\Languages</value>
      </setting>
      <setting name="LanguageManagerIsSingleton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfigVersionsDir" serializeAs="String">
        <value>C:\SpotLight\Instr\Master\Imager\</value>
      </setting>
    </PKI.Puncher.CameraTestBench.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>