<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServerTestBench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServerTestBench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="LogFile" value="c:\SpotLight\Logs\SpotLightLog.txt"/>
    <add key="LoggerAlsoLogToDebug" value="true"/>
    <add key="LanguagePath" value="C:\SpotLight\Data\Languages"/>
    <add key="LanguageManagerIsSingleton" value="true"/>
    <add key="PersistentFile" value="C:\SpotLight\Data\Configuration\Persistence.xml"/>
    <add key="ConfigFile" value="C:\SpotLight\Data\Configuration\Config.xml"/>
    <add key="ConfigVersionsDir" value="C:\SpotLight\Data\Configuration\History"/>
    <add key="ConsistorFile" value="C:\SpotLight\Data\Configuration\Consts.xml"/>
    <add key="DataDirectory" value="C:\SpotLight\Data\"/>
    <add key="InstrumentName" value="SpotLightSimulator"/>
  </appSettings>  
  
  <applicationSettings>
    <ServerTestBench.Properties.Settings>
      <setting name="LogFile" serializeAs="String">
        <value>C:\SpotLight\Logs\SpotLightLog.txt</value>
      </setting>
      <setting name="InstrumentType" serializeAs="String">
        <value>SpotLightSimulatorDriver</value>
      </setting>
    </ServerTestBench.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
